@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "IS Website";
}

<body>
    <center>
        <img src="~/img/FlyFishing.jpg" height="300" width="250" />
        <br />
        <p>
            I hope to learn a lot about app development and especially how to use C# effectively. I am excited to work with a strongly typed language
            and can't wait to apply what I learn in this class to my future internship in development.
        </p>
    </center>
    <p>Top 3 jobs after graduation:</p>
    <ol>
        <li>App Development at BNSF</li>
        <li>Cybersecurity at Verizon</li>
        <li>Software Development at Amazon</li>
    </ol>
    <h3>Grade Calculator:</h3>
    <p><b>Enter in your grade percentage for each category of the class below: </b></p>
    
</body>
